@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #fbe2cc;
  color: #000000;
}
@media screen and (min-width: 1200px) {
  html {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url("/image/Desktop.png");
  }
}
body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button:hover {
  scale: 120%;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  background: transparent;
  display: flex;
  height: 85px;

  backdrop-filter: blur(30px);
}
.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: rgba(190, 39, 39, 1);
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 20px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: start;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(33, 32, 60, 1);
}
.navigation__link:hover,
.navigation__link:focus {
  color: rgba(190, 39, 39, 1);
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
    margin-right: 100px;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 90px;
    padding: 10px 20px 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 61px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Poppins;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.5px;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 731px;

  padding: 166px 35px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/home/main.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-text {
  font-family: Poppins;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;

  padding: 100px 0 28px;
}
.home__google-button_image {
  width: 304px;
}
.home__google-button_link:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 752px;
    padding: 577px 0px 0px;
    background-image: url("/image/home/main\ \(1\).png");
  }
  .home__container-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-title {
    display: none;
  }

  .home-text {
    display: none;
  }
}
.about {
  padding: 21px 0px;
  margin: auto;
  width: 375px;
}

.about-title {
  font-family: Poppins;
  font-weight: 900;
  font-size: 64px;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: center;

  -webkit-text-stroke: 2px rgba(252, 247, 232, 1);
  color: rgba(190, 39, 39, 1);
}

.about-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  leading-trim: Cap height;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: justify;
  padding: 7px 15px 32px;
}
.about-text-bold {
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(190, 39, 39, 1);
  padding: 46px 15px 0;
}
.why-list {
  padding-top: 32px;
  padding-bottom: 11px;
  width: 375px;
}
.why-item {
  width: 533px;
  height: 370px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/image/1.png");
  padding: 91px 110px 0;
}

.why-text-bold {
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(248, 156, 28, 1);
  text-shadow: 0px 6px 0px rgba(221, 202, 165, 1);
  padding: 0 50px;
}
.why-text {
  padding-top: 35px;
  font-family: Poppins;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(128, 0, 149, 1);
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 0px 0px 0 109px;
    margin: auto;
    width: 1440px;
  }
  .about-div {
    display: flex;
    gap: 51px;
  }
  .about-title {
    font-family: Poppins;
    font-weight: 900;
    font-size: 64px;
    line-height: 96px;
    letter-spacing: 0%;
    text-align: left;

    -webkit-text-stroke: 3px rgba(252, 247, 232, 1);
    color: rgba(190, 39, 39, 1);
  }

  .about-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    leading-trim: Cap height;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: justify;
    width: 586px;
    padding: 7px 0px 0px;
  }
  .about-text-bold {
    font-family: Poppins;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    padding: 81px 0px 0;
    width: 858px;
    margin: auto;
  }
  .why-list {
    padding-top: 26px;
    padding-bottom: 0px;
    width: 688px;
  }
  .why-item {
    width: 533px;
    height: 370px;
    padding: 91px 110px 0;
  }

  .why-text-bold {
    font-family: Poppins;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(248, 156, 28, 1);
    text-shadow: 0px 6px 0px rgba(221, 202, 165, 1);
    padding: 0 50px;
  }
  .why-text {
    padding-top: 35px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(128, 0, 149, 1);
  }
}

.faq {
  padding: 52px 0px 93px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 22px;
  padding-bottom: 22px;
}

.faq-item {
  margin: 0 4px;
  width: 359px;
  height: 246px;
  padding: 28px 24px 0;
  border-radius: 25px;
  border: 6px solid rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, #eeb205 0%, #be2727 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.faq-question {
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  height: 60px;
}

.faq-answer {
  color: rgba(255, 255, 255, 1);
  padding-top: 11px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: justify;
}
.faq-list {
  display: none;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 125px 102px;
    margin: auto;
    width: 1440px;
  }
  .faq-div {
    display: none;
  }
  .faq-list {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 36px;
  }
  .faq-item {
    margin: 0;
    width: 359px;
    height: 246px;
    padding: 28px 24px 0;
    border-radius: 25px;
    border: 6px solid rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, #eeb205 0%, #be2727 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .faq-item-two {
    width: 359px;
    height: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .faq-question {
    font-family: Poppins;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    height: 60px;
  }

  .faq-answer {
    color: rgba(255, 255, 255, 1);
    padding-top: 11px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: justify;
  }
}
.gallery {
  width: 375px;

  margin: auto;
  padding: 70px 0px 0px;
}

.gallery__list {
  width: auto;
  padding-bottom: 43px;
  margin: auto;
}
.gallery__item {
  width: 259px;
  height: 460px;
  border-radius: 23.18px;
  overflow: hidden;
  position: relative;
  margin: 0 5px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.gallery-button:hover {
  scale: 120%;
}
.gallery-img {
  width: 375px;
  height: 142px;
  margin-top: 48px;
}
@media screen and (min-width: 1200px) {
  .gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
    margin-right: 121px;
  }
  .gallery-button-container-two {
    margin-right: 0px;
    justify-content: center;
  }
  .gallery {
    width: 1440px;
    padding: 0;
  }

  .gallery__item {
    width: 259px;
    height: 460px;
  }

  .gallery__list {
    width: 1440px;
    padding: 0px 0 33px;
  }
  .gallery-img {
    width: 1218px;
    height: 464px;
    margin: 84px auto 0;
  }
}
.features {
  width: 375px;

  margin: auto;
  padding: 54px 0px;
}
.features-image {
  width: 375px;
  height: 639px;
  object-fit: cover;
  object-position: right;
}

.features-list {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.features-item {
  padding: 19px;
  width: 271px;
  height: 246px;
  border-radius: 25px;
  margin: auto;
  border: 6px solid rgba(255, 255, 255, 1);
  background: linear-gradient(180deg, #eeb205 0%, #be2727 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.features-img {
  margin: auto;
}
.features-text-bold {
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding: 5px 0 6px;
}
.features-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;

    margin: auto;
    padding: 54px 120px 0 109px;
  }
  .features-div {
    display: flex;
    align-items: start;
    gap: 43px;
  }
  .features-image {
    width: 711px;
    height: 697px;
    margin-left: -109px;
  }

  .features-list {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 24px;
  }
  .features-item {
    padding: 19px;
    width: 271px;
    height: 246px;
    border-radius: 25px;
    margin: auto;
    border: 6px solid rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, #eeb205 0%, #be2727 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .features-img {
    margin: auto;
  }
  .features-text-bold {
    font-family: Poppins;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 5px 0 6px;
  }
  .features-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
  }
}
.footer {
  width: 375px;
  margin: auto;
  padding: 0px 14px 30px;
  display: flex;
  flex-direction: column;
  gap: 52px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.footer_image {
  width: 304px;
  margin: auto;
}
.footer_image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.footer-text {
  font-family: Poppins;
  font-weight: 900;
  font-size: 32px;
  leading-trim: Cap height;
  line-height: 48px;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: Auto;
  text-decoration-thickness: Auto;
  text-transform: uppercase;
  color: rgba(190, 39, 39, 1);
}

.footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 12px;
  leading-trim: Cap height;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 0px 0px 82px;
    display: flex;
    flex-direction: row;
    width: 1440px;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .footer-container {
    gap: 80px;
  }

  .footer-wrapper {
    gap: 4px;
  }
  .footer-text {
    font-family: Poppins;
    font-weight: 900;
    font-size: 32px;
    leading-trim: Cap height;
    line-height: 48px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
  }

  .footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    leading-trim: Cap height;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.policy-terms-container {
  padding: 162px 16px 44px;
}
.policy-terms-title {
  font-family: Poppins;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(190, 39, 39, 1);
  text-transform: uppercase;
}

.policy-terms-text {
  font-family: Poppins;
  font-weight: 900;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: justify;

  padding-top: 20px;
}
.policy-terms-texts {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;

  padding-top: 8px;
}
.policy-terms-text-one {
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 20px;
}

.terms-list {
  list-style-type: disc;

  padding: 20px 0 20px 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;

  display: flex;
  flex-direction: column;
}

.terms-lists {
  list-style-type: disc;

  padding-left: 25px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 178px 140px 100px;
    align-items: start;
  }
  .policy-terms-title {
    font-family: Poppins;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: justify;
  }

  .policy-terms-text {
    font-family: Poppins;
    font-weight: 900;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    padding-top: 40px;
  }
  .policy-terms-texts {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
  .policy-terms-text-one {
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    padding-top: 30px;
  }

  .terms-list {
    list-style-type: disc;

    padding: 20px 0 20px 25px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;

    display: flex;
    flex-direction: column;
  }

  .terms-lists {
    list-style-type: disc;

    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0%;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 335px;
  border-radius: 20px;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(190, 39, 39, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);

  text-align: center;
  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(87, 78, 68, 1);
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.cookie-button {
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

  color: rgba(87, 78, 68, 1);
  border: none;
  background-color: transparent;
}
#accept-cookies {
  width: 167px;

  padding: 18px 0px;
  color: rgba(255, 255, 255, 1);
  border-radius: 56px;
  background: rgba(190, 39, 39, 1);

  box-shadow: 0px 3px 12px 0px rgba(74, 58, 255, 0.18);
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    width: 648px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1172px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
